body {
    font-family: 'Kalam', sans-serif;
    background-image: url('Media/images/fondo\ enemies\ 2.png');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-form-container {
    background-color: rgba(230, 231, 240, 0.7);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.contact-form-container h2 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
    color: #555;
}

input[type="email"],
input[type="text"],
textarea {
    margin-top: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    width: calc(100% - 22px);
}

textarea {
    resize: vertical;
}

button {
    margin-top: 15px;
    padding: 10px;
    background-color: #3528a7;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: transform 1s ease;
}

button:hover {
    background-color: #432188;
    transform: scale(1.05);
}

